body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: #292929;
    color: #E6D62D;
    margin: 0;
}

/* 
HEADER STYLES 
*/

.head {
    background-color: #E6D62D;
    color: #292929;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #292929;
}


/* 
CONTENT STYLES 
*/


.content-container {
    display: flex;
    flex-direction: column;
    background-color: #292929;
    min-height: 80vh;
    padding: 1rem 2rem;
}

.content-container h1 {
    font-size: 2.5rem;

}

.content-container h2 {
    font-size: 2rem;
}

.content-container h3 {
    font-size: 1.5rem;
}

.content-container p {
    color: ghostwhite;
    font-size: 1.2rem;
}

button {
    background-color: #E6D62D;
    color: #292929;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 20rem;
    height: 3rem;
    align-self: center;
    margin: 1rem 1rem;;
    font-weight: bold;
    font-size: 1rem;
}

video {
    height: 50vh;
    border-radius: 5px;
    align-self: center;
    margin-top: 5rem;
}

.bold{
    font-weight: bold;
    color: #E6D62D;
}

/* 
QUIZ STYLES 
*/

.quiz-container {
    background-color: #292929;
    border: 1px solid #E6D62D;
    color: #E6D62D;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.question {
    font-weight: bold;
    margin-bottom: 20px;
}

.options button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E6D62D;
    color: #292929;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
}

#quiz button {
    margin: 10px auto;
    align-self: center;
}
